user = {{ postfixadmin_dbuser }}
password = {{ postfixadmin_dbpass }}
hosts = {{ postfixadmin_dbhost }}
dbname = {{ postfixadmin_dbname }}
query = SELECT goto FROM alias,alias_domain
  WHERE alias_domain.alias_domain = '%d'
  AND alias.address=concat('%u', '@', alias_domain.target_domain)
  AND alias.active = 1
