user = {{ postfixadmin_dbuser }}
password = {{ postfixadmin_dbpass }}
hosts = {{ postfixadmin_dbhost }}
dbname = {{ postfixadmin_dbname }}
table = domain
select_field = domain
where_field = domain
additional_conditions = and backupmx = '0' and active = '1'
