user = {{ postfixadmin_dbuser }}
password = {{ postfixadmin_dbpass }}
hosts = {{ postfixadmin_dbhost }}
dbname = {{ postfixadmin_dbname }}
table = alias
select_field = goto
where_field = address
additional_conditions = and active = '1'
