user = {{ postfixadmin_dbuser }}
password = {{ postfixadmin_dbpass }}
hosts = {{ postfixadmin_dbhost }}
dbname = {{ postfixadmin_dbname }}
query = SELECT maildir FROM mailbox, alias_domain
  WHERE alias_domain.alias_domain = '%d'
  AND mailbox.username=concat('%u', '@', alias_domain.target_domain )
  AND mailbox.active = 1
