user = {{ postfixadmin_dbuser }}
password = {{ postfixadmin_dbpass }}
hosts = {{ postfixadmin_dbhost }}
dbname = {{ postfixadmin_dbname }}
table = mailbox
select_field = CONCAT(domain, '/', local_part)
where_field = username
additional_conditions = and active = '1'
