{% if apache_vhosts|default({})|length %}
{%- for vhost in apache_vhosts %}
/var/www/{{ vhost }}/logs/*.log
{% endfor -%}
{
    weekly
    missingok
    rotate 520
    compress
    delaycompress
    notifempty
    create 644 www-data www-data
    sharedscripts
    postrotate
        if invoke-rc.d apache2 status > /dev/null 2>&1; then \
            invoke-rc.d apache2 reload > /dev/null 2>&1; \
        fi;
    endscript
}
{% endif %}
