<VirtualHost *:80>
    ServerAdmin {{ item.value.serveradmin }}
    ServerName  {{ item.key }}
    ServerAlias {{ item.value.serveralias|default("www."+item.key) }}

    # Indexes + Directory Root.
    DirectoryIndex index.html index.htm index.php
    DocumentRoot /var/www/{{ item.key }}/htdocs/

    {{ item.value.extra_parameters|default('') }}

{% if item.value.enable_ssl|default(false)|bool -%}
    # Redirect to the https
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
{%- endif %}

    # Logfiles
    ErrorLog  /var/www/{{ item.key }}/logs/error.log
    CustomLog /var/www/{{ item.key }}/logs/access.log combined
</VirtualHost>

{% if item.value.enable_ssl|default(false)|bool %}
<VirtualHost *:443>
    ServerAdmin {{ item.value.serveradmin }}
    ServerName  {{ item.key }}
    ServerAlias {{ item.value.serveralias|default("www."+item.key) }}

    # Indexes + Directory Root.
    DirectoryIndex index.html index.htm index.php
    DocumentRoot /var/www/{{ item.key }}/htdocs/

    SSLCertificateFile     /etc/letsencrypt/live/{{ item.key }}/fullchain.pem
    SSLCertificateKeyFile  /etc/letsencrypt/live/{{ item.key }}/privkey.pem

    {{ item.value.extra_parameters|default('') }}

    # Logfiles
    ErrorLog  /var/www/{{ item.key }}/logs/error.log
    CustomLog /var/www/{{ item.key }}/logs/access.log combined
</VirtualHost>
{% endif %}
